
body {
    background-color: rgb(4, 29, 57);
    color: rgba(240, 255, 255, 0.537);
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    padding: 40px;
    margin: 0;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    margin-bottom: 50px;
    color: rgba(240, 255, 255, 0.875);
    border: 8px solid rgb(3, 38, 64);
    background-color: rgb(10, 42, 67);;
    font-size: 30px;

}
.grid-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 8px solid rgb(3, 38, 64);
    background-color: rgb(10, 42, 67);
    padding: 20px;
    margin: 50px;
    font-weight: 400;
    color: rgba(240, 255, 255, 0.537);

}
